.crew{
    width: 100%;
    min-height: 100vh;
    background-image: url("./images/crew/background-crew-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    main{
        text-align: center;
        margin: 2rem;
        h1{
            margin-bottom: 2rem;
            color: $color-3;
            text-transform: uppercase;
            font-family: 'Barlow Condensed', sans-serif;
            font-size: 16px;
            letter-spacing: 2.7px;
            span{
                margin-right: 1rem;
                opacity: 0.25;
            }
        }
        .sec-1{
            width: 100%;
            img{
                width: 300px;
            }
        }
        .sec-2{
            display: flex;
            flex-direction: column-reverse;
            .info{
                h2{
                    color: $color-2;
                    font-size: 16px;
                    text-transform: uppercase;
                    margin-bottom: 8px;
                    font-weight: 400;
                }
                h3{
                    font-size: 24px;
                    font-weight: 400;
                    color: $color-3;
                    text-transform: uppercase;
                    margin-bottom: 16px;
                }
                p{
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 25px;
                    color: $color-2;
                    font-family: 'Barlow Condensed', sans-serif;
                }
            }
            .controls{
                width: 88px;
                height: 10px;
                display: flex;
                justify-content: space-between;
                margin: 1rem auto;
                span{
                    width: 10px;
                    height: 10px;
                    background-color: $color-3;
                    border-radius: 50%;
                    opacity: 0.17;
                    &.active{
                        opacity: 1;
                    }
                }
            }
        }
    }
}


@media (min-width:600px) and (max-width:1199px){
    .crew{
        background-image: url("./images/crew/background-crew-tablet.jpg");
        main{
            h1{
                text-align: start;
                font-size: 20px;
                letter-spacing: 3.38px;
            }
            .main-container{
                display: flex;
                flex-direction: column-reverse;
                .sec-2{
                    flex-direction: column;
                    width: 458px;
                    margin: auto;
                    .info{
                        h2{
                            font-size: 24px;
                        }
                        h3{
                            font-size: 40px;
                        }
                        p{
                            font-size: 16px;
                            line-height: 28px;
                        }
                    }
                    .controls{
                        margin: 2rem auto;
                    }
                }
                .sec-1{
                    img{
                        width: 456px;
                        
                    }
                }
            }
        }
    }
    
}

@media (min-width:1200px){
    .crew{
        background-image: url("./images/crew/background-crew-desktop.jpg");
        main{
            text-align: start;
            margin: 2rem 10rem;
            h1{
                font-size: 28px;
                letter-spacing: 4.72px;
            }
            .main-container{
                display: flex;
                flex-direction: row-reverse;
                .sec-2{
                    flex-direction: column;
                    margin-top: 10rem;
                    width: 1600px;
                    .info{
                        h2{
                            font-size: 32px;
                        }
                        h3{
                            font-size: 56px;
                        }
                        p{
                            font-size: 18px;
                            width: 444px;
                        }
                    }
                    .controls{
                        margin: 4rem 0;
                        span{
                            cursor: pointer;
                            &:hover{
                                opacity: 1;
                            }
                        }
                    }
                }
                .sec-1{
                    img{
                        width: 468px;
                    }
                }
            }
        }
    }
}